    <script src="{{ url_for('static', filename='js/explanations/format.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explanations/builders/ausn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explanations/builders/usn-income.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explanations/builders/usn-dr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explanations/builders/osno.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explanations/builders/patent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explanations/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table/details-toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table/regimes-sort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form/transition-mode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form/purchases-coefs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form/other-expenses-toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form/fot-mode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/top-results.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
