<!DOCTYPE html>
<html lang="ru">
{% include "partials/_head.html" %}
<body>
    <div class="container">
        <h1>Калькулятор налогов для ИП</h1>
        <p class="description">Сравнение режимов налогообложения с учётом законодательства 2026 года</p>

        {% include "partials/_form.html" %}
        {% include "partials/_top5.html" %}
        {% include "partials/_results_table.html" %}
    </div>

    <script id="calc-data" type="application/json">
        {{ (calc_data or {}) | tojson }}
    </script>

{% include "partials/_footer_scripts.html" %}
</body>
</html>
